.adminWordGame {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'overlap';
    background-color: var(--white);
  }

canvas {
    grid-area: overlap;
    z-index: 1;
    background-color: var(--white);
}
.webcam {
    grid-area: overlap;
    z-index: 0;
}

.section-admin {
    height: 100vh;
}

.section-admin--active {
    display: none;
}