canvas {
    max-width: 100vw;
    max-height: 100vh;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    background-color: var(--backgroundColor);
}

.section__title, .article__title , .section-admin__title{
    display: none;
}

.hidden {
    display: none;
}

.button {
  padding: 1rem;
  margin: 1rem 0;
  border: .2rem solid black;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 0.8rem;
}

.wordGame {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'overlap';
}

canvas {
    grid-area: overlap;
    z-index: 1;
}
.webcam {
    grid-area: overlap;
    z-index: 0;
}

.section-admin {
    height: 100vh;
}

.section-admin--active {
    display: none;
}

