<<<<<<< HEAD
/*.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

#webcam {

}

#canvas {
    width: 50%;
    height: 100%;
    margin: auto;
}*/

canvas {
    max-width: 100vw;
    max-height: 100vh;
=======
@import "homeStijnExtra.css";
@import "home.css";
@import "vars.css";
@import "admin.css";

html {
  scroll-behavior: smooth;
  max-height: 100vh;
  overflow-y: scroll;
  /*overflow: hidden;*/
}

.popup {
  z-index: 8;
>>>>>>> dev
}

body {
    max-width: 100vw;
    max-height: 100vh;
<<<<<<< HEAD
}

.section__title, .article__title {
    display: none;
}

.button {
  padding: 1rem;
  margin: 1rem 0;
  border: .2rem solid black;
=======
    overflow: hidden;
    background-color: var(--white);
    font-family: sofia-pro, sans-serif, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    color: var(--black);
}

.section__title, .article__title , .section-admin__title, .form__title {
    display: none;
}

.hidden {
    display: none;
>>>>>>> dev
}

.link {
  text-decoration: none;
<<<<<<< HEAD
  color: black;
=======
  color: var(--black);
>>>>>>> dev
  font-weight: 800;
  text-transform: capitalize;
  font-size: 0.8rem;
}
<<<<<<< HEAD
=======

.btnLogin {
  display: block;
}

.button {
  min-height: 3.5rem;
  max-height: 4rem;
  padding: 0 1.2rem;
  margin: .5rem .2rem 1.5rem;
  font-weight: 700;
  border: 0.1rem solid var(--black);
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
  /*display: block;*/

  letter-spacing: 0.075em;
  position: relative;
  align-self: center;
  box-shadow: .5rem 1rem var(--black);
  border-image-slice: 1 1 0 0;
  transition: all .0s;
  font-size: 1rem;
  left: -1rem;
  text-align: center;
  vertical-align: middle;
  line-height: 1rem;
}

.button::before {
  content: '';
  position: absolute;
  bottom: -1.195rem;
  left: .52rem;
  width: 1.15rem;
  height: 2.1rem;
  background-color: var(--black);
  transform: rotate(65deg);
  z-index: -1;

}

.button::after {
  content: '';
  position: absolute;
  top: .12rem;
  right: -.45rem;
  width: 1.12rem;
  height: 1rem;
  background-color: var(--black);
  transform: rotate(65deg);
  z-index: -1;
}

/*
@media (hover: hover) {
  .button:hover {
    cursor: pointer;
    left: .5rem;
    bottom: -1rem;
    box-shadow: none;
  }

  .button:hover::after, .button:hover::before {
    background-color: var(--white);
  }
  .primbutton:hover {
    background-color: var(--black);
    color: var(--white);
  }

  .buttonVerstuur:hover {
    cursor: pointer;
    left: .5rem;
    bottom: -1rem;
    box-shadow: none;
  }

  .buttonVerstuur:hover::after, .buttonVerstuur:hover::before {
    background-color: var(--white);
    opacity: 0;
  }
}
*/

.button:active {
  cursor: pointer;
  left: .5rem;
  bottom: -1rem;
  box-shadow: none;
}

.button:active::after, .button:active::before {
  background-color: var(--white);
}

.primbutton:active {
  background-color: var(--black);
  color: var(--white);
}

.primbutton {
  background-color: var(--black);
  color: var(--white);
}

.prim {
  color: var(--white);
}

.buttonVerstuur {
  min-height: 2.5rem;
  max-height: 3rem;
  padding: 0 1.2rem;
  margin: 1rem .5rem 2.4rem;
  font-weight: 700;
  border: 0.1rem solid var(--black);
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
  /*display: block;*/

  letter-spacing: 0.075em;
  position: relative;
  align-self: center;
  box-shadow: .5rem 1rem var(--black);
  border-image-slice: 1 1 0 0;
  transition: all .0s;
  font-size: 1rem;
  left: -1rem;
  text-align: center;
  vertical-align: middle;
  line-height: 0;
}

.buttonVerstuur::before {
  content: '';
  position: absolute;
  bottom: -1.195rem;
  left: .52rem;
  width: 1.15rem;
  height: 2.1rem;
  background-color: var(--black);
  transform: rotate(65deg);
  z-index: -1;

}

.buttonVerstuur::after {
  content: '';
  position: absolute;
  top: .12rem;
  right: -.45rem;
  width: 1.12rem;
  height: 1rem;
  background-color: var(--black);
  transform: rotate(65deg);
  z-index: -1;
}

.buttonVerstuur:active {
  cursor: pointer;
  left: .5rem;
  bottom: -1rem;
  box-shadow: none;
}

.buttonVerstuur:active::after, .buttonVerstuur:active::before {
  background-color: var(--white);
}

.primbutton {
  background-color: var(--black);
  color: var(--white);
}

.prim {
  color: var(--white);
}

.verstuurbutton {
  margin: 1rem .5rem 1.5rem;
  font-weight: 700;
  color: var(--black);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  letter-spacing: 0.075em;
  font-size: 1rem;
  text-decoration: underline;
}

.btn-next--challenge {
    display: none;
}

.verstuurbutton::after {
  background-image: url('../assets/img/icons/arrownext.svg');
  background-repeat: no-repeat;
  background-size: 1rem 1.3rem;
  display: inline;
  width: 1.3rem;
  height: 1rem;
  content: '';
  padding: 0rem 1rem;
}

.error {
  color: var(--orange);
  margin: .4rem 0;
  padding: .4rem;
  font-size: .8rem;
}

@media only screen and (max-width: 1200px) {

  body {
    font-size: 1rem;
}

  .button {
    min-height: 2.5rem;
    max-height: 3rem;
    box-shadow: .5rem 1rem var(--black);
    border-image-slice: 1 1 0 0;
    font-size: .7rem;
  }

  .verstuurbutton {
    margin: .5rem 0;
    font-weight: 700;
    font-size: .9rem;
  }



}
>>>>>>> dev
